* {
	padding: 0px;
	margin: 0px;
}

header {
	overflow: hidden;
	background: #3a3a3a;
}

header a, header label {
	display: block;
	padding: 20px 20px 20px 0px;
	color: #e2e2e2;
	text-decoration: none;
	line-height: 20px;
}

header a:hover, header label:hover {
	color: #ffffff;
}

header label {
	float: right;
	padding: 18px 20px;
	cursor: pointer;
}

header label:after {
	content: "\2630";
	font-size: 1.8em;
}

.logo {
	float: left;
	font-size: 1.5em;
}

nav {
	float: right;
	max-height: 0;
	width: 100%;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	-o-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

nav li {
	display: block;
	text-align: center;
}

nav a {
	padding: 10px 0px 10px 10px;
	width: 100%;
}

#nav {
	display: none;
}

#nav:checked~nav {
	max-height: 200px;
	/* This can be anything bigger than your nav height. The transition duration works with this */
}

@media only screen and (min-width: 700px) {
	header label {
		display: none;
	}
	nav {
		width: auto;
		max-height: none;
	}
	nav ul {
		padding: 0;
	}
	nav li {
		display: inline-block;
		text-align: left;
	}
	header nav a {
		display: inline-block;
		padding: 20px 0px 20px 20px;
		width: auto;
	}
}